{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/asset/styles/steward.css">
{% endblock %}

{% block title %}Intendance - {{ parent() }}{% endblock %}

{% block body %}
<!--Formulaire de contact-->
<section class="contact">
    {% include 'home/_contact.html.twig' %}
</section>
{% endblock %}

{% block script %}
{% endblock %}