<h2>Coordonnées</h2>
<address>
    <p>Mr Alexandre DELALANDES</p>
    <p>Email : <a href="mailto:wewelcome.test@gmail.com">wewelcome.test@gmail.com</a></p>
    <p>Tel. : <a href="tel:">06 00 00 00 00</a></p>
    <p>Adresse : xx rue du test, 37000 Tours</p>
    <p>Zone d'intervention :</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d346335.59479099093!2d0.5650539465908879!3d47.299746769129214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd9384c167013%3A0x30dc8d7053327d0!2sIndre-et-Loire!5e0!3m2!1sfr!2sfr!4v1607519068296!5m2!1sfr!2sfr" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</address>
<h2 id="contact">Contact</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type='submit' value='Envoyer'>
{{ form_end(form) }}