<div class="purpose_and_values">
    <h2>But et valeurs</h2>
    <div>
        <h3>A quel besoin répond l’entreprise</h3>
        <p>« Vous êtes propriétaire et vous recherchez une personne de confiance, à qui confier en toute tranquillité la gestion locative de votre bien immobilier et/ou l’entretien de votre propriété ?
        wewelcome est votre assistant dédié !</p>
        <p>Nous sommes une agence implantée en Touraine qui propose des services de proximité à la carte, afin de vous simplifier la gestion et l’intendance de votre logement. »</p>
    </div>
    <div>
        <h3>Nos valeurs</h3>
        <p>« wewelcome vous propose un partenariat fondé sur sa vision du service qui implique confiance, qualité, efficacité et proximité.</p>
        <p>wewelcome est une entreprise à taille humaine. Cette spécificité nous permet d'être à l'écoute de nos clients pour mieux les accompagner, pour maîtriser nos coûts et nos délais d'intervention. »</p>
    </div>
    <div class="container-key-figures">
        <div>
            <p>15</p>
        </div>
        <div>
            <p>15</p>
        </div>
        <div>
            <p>15</p>
        </div>
        <div>
            <p>15</p>
        </div>
        <div>
            <p>15</p>
        </div>
        <div>
            <p>15</p>
        </div>
    </div>
</div>
