{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/indexStyle.css">
{% endblock %}

{% block title %}WeWelcome{% endblock %}

{% block body %}
    <section class="home">
        <div class="home-carousel">
            <div>
                <p class="home-text">Conciergerie locative & Intendance pour maisons et appartements</p>
                <a class="button-contact" href="#contact">Contactez-nous</a>
            </div>
            <figure>
                <img src="/assets/images/home-conciergerie.jpg" alt="photo de l'intérieur d'une maison"/>
                <img src="/assets/images/home-intendance.jpg" alt="photo de l'extérieur d'une maison"/>
                <img src="/assets/images/home-region.jpg" alt="photo de personnes faisant du vélo sur le bord de la loire"/>
                <img src="/assets/images/home-conciergerie.jpg" alt="photo de l'intérieur d'une maison"/>
            </figure>
        </div>
    </section>

    <section class="purpose section-except-home">
        <section>
            <article class="purpose-text">
                <p>Vous êtes propriétaire et vous recherchez une personne de confiance, à qui confier en toute tranquillité la gestion locative de votre bien immobilier et/ou l’entretien de votre propriété ?<br>
                <span>WeWelcome est votre assistant dédié !</span><br>
                Nous sommes une agence implantée en Touraine qui propose des services de proximité à la carte, afin de vous simplifier la gestion et l’intendance de votre logement.</p>
            </article>
            <article class="purpose-picture">
                <img src="/assets/images/section-purpose.jpg" alt="une femme heureuse">
            </article>
        </section>
        <a class="button-contact" href="#contact">Contactez-nous</a>
    </section>

    <section class="key-figures section-except-home"
    style="background-image: url(/assets/images/Touraine.png);">
        <h2>Implanté en Touraine</h2>
        <p id="key-figure-1">+50</p>
        <p id="key-figure-11">propriétaires déjà satisfaits</p>
        <p id="key-figure-2">+500</p>
        <p id="key-figure-21">voyageurs conquis</p>
        <p id="key-figure-3">+90%</p>
        <p id="key-figure-31">de taux d'occupation</p>
        <p id="key-figure-4">7j/7</p>
        <p id="key-figure-41">disponible pour vous</p>
        <a class="button-contact" id="key-figure-contact" href="#contact">Contactez-nous</a>
    </section>

    <section class="values section-except-home">
        <section>
            <article class="values-picture">
                <img src="/assets/images/section-values.jpg" alt="un homme heureux">
            </article>
            <article class="values-text">
                <p><span>WeWelcome</span> vous propose un partenariat fondé sur sa vision du service qui implique confiance, qualité, efficacité et proximité.<br>
                <span>WeWelcome</span> est une entreprise à taille humaine. Cette spécificité nous permet d'être à l'écoute de nos clients pour mieux les accompagner, pour maîtriser nos coûts et nos délais d'intervention.</p>
            </article>
        </section>
        <a class="button-contact" href="#contact">Contactez-nous</a>
    </section>

    <section class="service-vision section-except-home"
    style="background-image: url(/assets/images/hammock-425773_1920.jpg);">
        <h2>WeWelcome, la tranquilité assurée !</h2>
        <p id="service-vision-1">confiance</p>
        <p id="service-vision-2">qualité</p>
        <p id="service-vision-3">efficacité</p>
        <p id="service-vision-4">proximité</p>
        <a class="button-contact" id="service-vision-contact" href="#contact">Contactez-nous</a>
    </section>

    <section class="activities">
        <div class="conciergePresentation">
            <h2>Conciergerie</h2>
            <div class="pictogramConcierge">
                <figure>
                    <img src="/assets/images/accueil_depart_voyageurs.png" alt="Accueil des voyageurs">
                    <figcaption>Accueil des voyageurs</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/assistance.png" alt="Assistance des voyageurs">
                    <figcaption>Assistance des voyageurs</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/general.png" alt="général">
                    <figcaption>Général</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/Linge.png" alt="Linge">
                    <figcaption>Linge</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/menage.png" alt="Ménage">
                    <figcaption>Ménage</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/panierBienvenue.png" alt="Panier de bienvenue">
                    <figcaption>Panier de bienvenue</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/serviceIntendance.png" alt="service d'intendance">
                    <figcaption>Service d'intendance</figcaption>
                </figure>
            </div>
            <div class="textIntendance">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <div class="moreInfos">
                    <a href="">Plus d'infos</a>
                </div>
            </div>
            <div class="takeContact">
                <a href="">Prendre contact</a>
            </div>
        </div>
        <div class="stewardshipPresentation">
            <h2>Intendance</h2>
            <div class="pictogramStewardship">
                <figure>
                    <img src="/assets/images/assistanceIntendance.png" alt="Assistance">
                    <figcaption>Assistance</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/course.png" alt="Courses">
                    <figcaption>Courses</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/picsine.png" alt="Entretien picsine">
                    <figcaption>Entretien piscine</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/jardin.png" alt="Entretien jardin">
                    <figcaption>Entretien jardin</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/entretienIntExt.png" alt="Entretien intérieur et Extérieur">
                    <figcaption>Entretien intérieur et extérieur</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/generalInt.png" alt="Général">
                    <figcaption>Général</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/miseRouteVeille.png" alt="Mise en route/veille">
                    <figcaption>Mise en route/veille</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/petitTravaux.png" alt="Petits travaux">
                    <figcaption>Petits travaux</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/suiviTravaux.png" alt="Suivi de travaux">
                    <figcaption>Suivi de travaux</figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/surveillanceRegulier.png" alt="Surveillance régulière">
                    <figcaption>Surveillance régulière</figcaption>
                </figure>
            </div>
            <div class="textStewardship">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <div class="moreInfos">
                    <a href="">Plus d'infos</a>
                </div>
            </div>
            <div class="takeContact">
                <a href="">Prendre contact</a>
            </div>
        </div>
    </section>

    <section class="partner">
        <h2>Partenaires</h2>
        <hr/>
        <div class="logoPartner">
            <!-- visible part -->
            <nav class="navPartnerVisibile">
                <a href=""><img src="/assets/images/partenaireAbritel.png" alt="Abritel" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireAirbnb.jpg" alt="Airbnb" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireBooking.png" alt="Booking" class="imgPartner"></a>
            </nav>
            <!-- hidden part -->
            <nav class="navPartnerInvisible">
                <a href=""><img src="/assets/images/partenaireFewo-direkt.png" alt="Fewo-direkt" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireGites.jpg" alt="Gites.fr" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireHomelidays.png" alt="Homelidays" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireODTAmboiseVaLoire.jpg" alt="ODT Amboise Val de Loire" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireODTMontlouisVouvray.png" alt="ODT Mont luis Vouvray" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireODTToursVaLoire.png" alt="ODT Tours Val de Loire" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireTouraineVaLoire.jpg" alt="Touraine Val de Loire" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireValLoireFrance.png" alt="Val de Loire France" class="imgPartner"></a>
                <a href=""><img src="/assets/images/partenaireVRBO.png" alt="VRBO" class = "imgPartner"></a>
            </nav>
            <button id="allPartners">voir tous nos partenaires</button>
        </div>
    </section>

    <!--Formulaire de contact-->
    <section class="contact">
        {% include 'home/_contact.html.twig' %}
    </section>
{% endblock %}

{% block javascripts  %}
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/indexPartner.js"></script> 
{% endblock %}
