
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###>dynamics photo folders ###
/public/assets/images/partners/
/public/assets/images/housing/
/public/assets/images/carousel/
/public/assets/images/purpose/
/public/assets/images/values/
/public/assets/images/servicesImg/
/public/assets/images/socialNetworks/
###>dynamics photo folders ###

###>temporary files folder ###
/public/temp/
###>temporary files folder ###
