{% extends 'base.html.twig' %}

{% block title %}WeWelcome{% endblock %}

{% block body %}
<div class="adminPanel">
    <h1>Modifier un service</h1>
    {{ include ('/services/_form.html.twig', {'button_label': 'Modifier'}) }}
    <a href="{{ path('concierge') }}">Retour</a>
</div>
{% endblock %}