@import 'variables.scss';

.purpose-and-values {
    background: url('../images/Indre-et-loire.png') no-repeat right;
    height: 800px;
    
    div {
        width: 800px;
        line-height: 30px;
        text-align: justify;
    }
}

.container-key-figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    p {
        width: 100px;
        height: 100px;
        background-color: $primary-color;
        color: $white;
        text-align: center;
    }
}
