@import 'variables.scss';

body {
    background-color: $white;
    color: $black;
}

h2 {
    font-family: $primary-title;
    font-size: 40px;
}

h3 {
    font-family: $secondary-title;
    font-size: 30px;
}

p {
    font-family: $primary-text;
    font-size: 20px;
}
