@import 'variables.css';

body {
    background-color: var(--white);
    color: --black;
}

h2 {
    font-family: var(--primary-title);
    font-size: 40px;
}

h3 {
    font-family: var(--secondary-title);
    font-size: 30px;
}

p {
    font-family: var(--primary-text);
    font-size: 20px;
}
/***SECTION HOME___start***/
.home-carousel {
    position: relative;
    width: 80%;
    max-width: 1300px;
    height: 800px;
    overflow: hidden;
    margin: 0 auto;
}

.home-logo {
    position: absolute;
    z-index: 2;
    width: 800px;
    top: 50px;
    left: 50px;
}

.home-text {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    width: 1000px;
    text-align: center;
    font-family: var(--primary-title);
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.home-carousel figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 40s slidy infinite ease-in;
}

.home-carousel figure img {
    width: 25%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }

    28% { left: -100%; }
    53% { left: -100%; }

    61% { left: -200%; }
    87% { left: -200%; }

    95% { left: -300%; }
    100% { left: -300%; }
}
/***SECTION HOME___end***/

/***SECTION PURPOSE AND VALUES___start***/
.purpose-and-values {
    background: url('../images/Indre-et-loire.png') no-repeat right;
    height: 800px;
}

.purpose-and-values div {
    width: 800px;
    line-height: 30px;
    text-align: justify;
}

.container-key-figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-key-figures p {
    font-family: var(--primary-title);
    font-size: 50px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}
.container-key-figures p span {
    font-family: var(--primary-text);
    font-size: 25px;
}
/***SECTION PURPOSE AND VALUES___end***/
