@import 'variables.css';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: --black;
}

html {
    scroll-behavior: smooth;
    font-family: var(--primary-text);
    font-size: 20px;
}

h2 {
    font-family: var(--primary-title);
    font-size: 40px;
}

h3 {
    font-family: var(--secondary-title);
    font-size: 30px;
}

a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--primary-text);
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid var(--black);
    width: 60%;
    margin: 20px auto 20px auto;
}

.adminPanel {
    background-color: var(--secondary-color);
}


/* START nav bar style */
.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 5px;
}

#topLogo {
    margin-left: 3%;
    transition: all 0.3s ease-in-out;
}

#topLogo:hover {
    transform: scale(1.1);
}

#topLogo img {
    width: 400px;
}

.navBar nav {
    position: absolute;
    right: 0;
    width: 70%;
    display: flex;
    align-items: center;
}

.navLink {
    width: 20%;
    padding: 10px 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.navLink:hover {
    background-color: var(--primary-color-tint2);
    color: var(--white);
    transform: scale(1.1);
}
/* END nav bar style*/

/* START back to top style */
#returnTop {
    color: rgba(83, 81, 81, 0.897);
    margin: 1rem;
    text-decoration: none;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    border: solid;
    outline: none;
    background-color: var(--white);
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    width: 60px;
    height: 60px;
}

#returnTop:hover {
    transform: scale(1.10);
    color: var(--primary-color);
    cursor: pointer;
}
/* END back to top */

/* START footer */
footer {
    background: rgba(83, 81, 81);
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

.socialNetwork {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.socialNetworkLogo {
    width: 50px;
    height: 50px;
}

.socialNetworkLogo:hover {
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;
}

.footerLeft {
    width: 40%;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
}

.footerLeft h2 {
    color: var(--primary-color);
    font-size: 25px;
}

.footerRight {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-right: 10%;
    margin-top: 20px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.footerLinks a {
    font-size: 20px;
    font-weight: bold;
}

.footerLinks a:hover {
    color: var(--primary-color);
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;
}

.info p {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
/* END footer */

/* START contact form */
.contact {
    padding-top: 10vh;
    padding-bottom: 20vh;
    background-color: var(--secondary-color-tint1);
}

.contact h2 {
    padding-top: 10vh;
    font-family: var(--primary-title);
    font-size: 3rem;
    color: var(--primary-color);
    letter-spacing: 0.5rem;
    text-align: center;
}

.contact-hr {
    display: block;
    border: 0;
    border-top: 1vh solid var(--primary-color);
    width: 20vw;
    margin: 1vw auto;
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin: 0.5vw auto;
    padding: 0.5vw;
    height: 60vh;
    width: 60vw;
    align-items: center;
    text-align: center;
}

.contact-objet {
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    width: 100%;
}
.contact-objet label:first-child {
    padding-bottom: 1.5vw;
    font-family: var(--secondary-title);
    font-size: 1.5rem;
    color: var(--primary-color);
}

.contact-objet input[type="radio"] {
    display: none;
}

.contact-objet input[type="radio"] + label {
    margin: 0 3vw;
    padding: 0.5vw 2.5vw;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--white);
    font-family: var(--primary-text);
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    transition: all 0.5s ease-out;
}

.contact-objet input[type="radio"]:hover + label {
    background-color: var(--primary-color-tint2);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}
.contact-objet input[type="radio"]:checked + label {
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
}

.contact-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5vw 0.5vw 2vw;
}

.contact-inputs div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0.5vw 2vw;
}

.contact-inputs div label {
    padding: 0.2vw;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--primary-text);
    font-size: 0.8rem;
    text-align: left;
    visibility: hidden;
}

.contact-inputs div input,
.contact-inputs div textarea {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5vw;
    box-sizing: border-box;
    font-family: var(--primary-text);
    font-size: 1rem;
    border-radius: 0.5rem;
    border: solid 2px var(--white);
    resize : none;
}

.contact-inputs div input::placeholder,
.contact-inputs div textarea::placeholder {
    font-family: var(--primary-text);
    color: var(--secondary-color);
}

.contact-inputs div input:hover,
.contact-inputs div textarea:hover {
    border: solid 2px var(--primary-color);
    box-sizing: border-box;
    font-weight: bold;
}

.contact-inputs div input:hover::placeholder,
.contact-inputs div textarea:hover::placeholder {
    font-family: var(--primary-text);
    color: var(--primary-color);
}

/***CALL TO ACTION___start***/

.button-contact {
    width: 300px;
    padding: 20px 30px;
    border-top: solid 5px var(--primary-color);
    border-bottom: solid 5px var(--primary-color);
    border-right: none;
    border-left: none;
    background-color: var(--primary-color);
    font-family: var(--secondary-title);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.button-contact:hover {
    padding: 20px 60px;
    border-top: solid 5px var(--primary-color);
    border-bottom: solid 5px var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);
    letter-spacing: 5px;
}
/***CALL TO ACTION___end***/

/* START admin forms */
.adminForm {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 80%;
    max-width: 700px;
    flex-wrap: wrap;
}

.adminForm label {
    width: 50%;
    align-self: center;
    text-align: right;
    margin-right: 5px;
}
/* END admin forms */

