@import 'variables.css';

body {
    background-color: var(--white);
    color: --black;
}

h2 {
    font-family: var(--primary-title);
    font-size: 40px;
}

h3 {
    font-family: var(--secondary-title);
    font-size: 30px;
}

p {
    font-family: var(--primary-text);
    font-size: 20px;
}