@import 'variables.css';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: --black;
}

h2 {
    font-family: var(--primary-title);
    font-size: 40px;
}

h3 {
    font-family: var(--secondary-title);
    font-size: 30px;
}

p {
    font-family: var(--primary-text);
    font-size: 20px;
}

/* START nav bar style */
.navBar {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(85, 69, 69, 0);
}

#topLogo {
    width: 50%;
    visibility: hidden;
}

#topLogo img {
    width: 200px;
    height: 36px;
}

.navBar nav {
    width: 60%;
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    font-weight: bold;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navLink:hover {
    background-color: #9c61c183;
}
/* END nav bar style*/

/* START back to top style */
#returnTop {
    color: rgba(83, 81, 81, 0.897);
    margin: 1rem;
    text-decoration: none;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    font-size: 18px;
    border: solid;
    outline: none;
    background-color: whitesmoke;
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    width: 50px;
    height: 50px;
}

#returnTop:hover {
    transform: scale(1.10);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
/* END back to top */