@import 'variables.css';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: --black;
}

html {
    scroll-behavior: smooth;
    font-family: var(--primary-text);
    font-size: 20px;
}

h2 {
    font-family: var(--primary-title);
    font-size: 3vw;
    letter-spacing: 0.5vw;
    text-align: center;
    padding-top: 5vw;
}

.h2-primary-color {
    color: var(--primary-color);
}

.h2-white {
    color: var(--white);
}

h3 {
    font-family: var(--secondary-title);
    font-size: 2vw;
    letter-spacing: 0.3vw;
    text-align: center;
}

a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--primary-text);
}

hr {
    display: block;
    border: 0;
    width: 20vw;
    margin: 2vw auto;
}

.hr-primary-color {
    border-top: 0.5vw solid var(--primary-color);
}

.hr-white {
    border-top: 0.5vw solid var(--white);
}

/* START nav bar style */
.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 5px;
}

#topLogo {
    margin-left: 3%;
    transition: all 0.3s ease-in-out;
}

#topLogo:hover {
    transform: scale(1.1);
}

#topLogo img {
    width: 400px;
}

.navBar nav {
    position: absolute;
    right: 0;
    width: 70%;
    display: flex;
    align-items: center;
}

.navLink {
    width: 20%;
    padding: 10px 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.navLink:hover {
    background-color: var(--primary-color-tint2);
    color: var(--white);
    transform: scale(1.1);
}
/* END nav bar style*/

/* START back to top style */
#returnTop {
    color: rgba(83, 81, 81, 0.897);
    margin: 1rem;
    text-decoration: none;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    border: solid;
    outline: none;
    background-color: var(--white);
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    width: 60px;
    height: 60px;
}

#returnTop:hover {
    transform: scale(1.10);
    color: var(--primary-color);
    cursor: pointer;
}
/* END back to top */

/* START footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    background-color: var(--primary-color);
    font-family: var(--primary-text);
    font-size: 1.2vw;
    color: var(--white);
}

.socialNetwork {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialNetworkLogo {
    margin: 0 3vw;
    width: 4vw;
    transition: all 0.3s ease-in-out;
}

.socialNetworkLogo:hover {
    transform: scale(1.5);
}

.footerLeft,
.footerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    text-align: center;
    width: 30%;
    margin: 0 2vw;
}

.footerLeft p,
.footerLeft label,
.footerLeft a {
    margin: 0.2vw;
    padding: 0.2vw;
    width: 100%;
}

.footerLeft p {
    font-family: var(--primary-title);
    font-size: 1.5vw;
}

#numero {
    display: none;
    width: 60%;
    margin: 0.5vw;
    padding: 0.5vw;
    background-color: var(--white);
    border-radius: 10vw;
    color: var(--primary-color);
    font-weight: bold;
}
#label-telephone {
    font-size: 80%;
}
#telephone {
    display: none;
}

#telephone:checked + #numero {
    display: block;
}

.footerRight a {
    margin: 0.2vw;
    padding: 0.2vw;
    width: 70%;
    transition: all 0.3s ease-in-out;
}

.footerRight a:hover {
    transform: scale(1.1);
    background-color: var(--white);
    color: var(--primary-color);
    text-decoration: underline;
}

/* END footer */

/* START contact form */
.contact {
    padding-top: 5vw;
    padding-bottom: 10vw;
    background-color: var(--secondary-color-tint1);
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin: 0.5vw auto;
    padding: 0.5vw;
    height: 30vw;
    width: 60vw;
    align-items: center;
    text-align: center;
}

.contact-objet {
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    width: 100%;
}
.contact-objet label:first-child {
    padding-bottom: 1.5vw;
    font-family: var(--secondary-title);
    font-size: 1.5vw;
    color: var(--primary-color);
}

.contact-objet input[type="radio"] {
    display: none;
}

.contact-objet input[type="radio"] + label {
    margin: 0 3vw;
    padding: 0.5vw 2.5vw;
    box-sizing: border-box;
    border-radius: 0.5vw;
    border: solid 0.2vw var(--white);
    background-color: var(--white);
    font-family: var(--primary-text);
    font-size: 1.5vw;
    color: var(--secondary-color);
    text-align: center;
    transition: all 0.5s ease-out;
}

.contact-objet input[type="radio"]:hover + label {
    border: solid 0.2vw var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}
.contact-objet input[type="radio"]:checked + label {
    border: solid 0.2vw var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
}

.contact-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5vw 0.5vw 2vw;
}

.contact-inputs div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0.5vw 2vw;
}

.contact-inputs div label {
    padding: 0.2vw;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--primary-text);
    font-size: 0.8vw;
    text-align: left;
    visibility: hidden;
}

.contact-inputs div input,
.contact-inputs div textarea {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5vw;
    box-sizing: border-box;
    font-family: var(--primary-text);
    font-size: 1vw;
    border-radius: 0.5vw;
    border: solid 0.2vw var(--white);
    resize : none;
}

.contact-inputs div input::placeholder,
.contact-inputs div textarea::placeholder {
    font-family: var(--primary-text);
    color: var(--secondary-color);
}

.contact-inputs div input:hover,
.contact-inputs div textarea:hover {
    border: solid 0.2vw var(--primary-color);
    box-sizing: border-box;
    font-weight: bold;
}

.contact-inputs div input:hover::placeholder,
.contact-inputs div textarea:hover::placeholder {
    font-family: var(--primary-text);
    color: var(--primary-color);
}

/* END contact form */

/***CALL TO ACTION___start***/

.button-contact {
    box-sizing: border-box;
    width: 300px;
    padding: 20px 30px;
    border-top: solid 5px var(--primary-color);
    border-bottom: solid 5px var(--primary-color);
    border-right: none;
    border-left: none;
    background-color: var(--primary-color);
    font-family: var(--secondary-title);
    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.button-contact:hover {
    border-top: solid 5px var(--primary-color);
    border-bottom: solid 5px var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);
    letter-spacing: 3px;
}

/***CALL TO ACTION___end***/
