@import 'variables.css';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: --black;
}

h2 {
    font-family: var(--primary-title);
    font-size: 40px;
}

h3 {
    font-family: var(--secondary-title);
    font-size: 30px;
}

p {
    font-family: var(--primary-text);
    font-size: 20px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-family: var(--primary-text);
}

/* START nav bar style */
.navBar {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(85, 69, 69, 0);
}

#topLogo {
    width: 42%;
    visibility: hidden;
    margin-left: 3%;
}

#topLogo:hover {
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;
}

#topLogo img {
    width: 200px;
    height: 36px;
}

.navBar nav {
    width: 60%;
    display: flex;
    align-items: center;
}

.navLink {
    font-weight: bold;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--primary-color);
}

.navLink:hover {
    background-color: #9c61c183;
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;
}
/* END nav bar style*/

/* START back to top style */
#returnTop {
    color: rgba(83, 81, 81, 0.897);
    margin: 1rem;
    text-decoration: none;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    border: solid;
    outline: none;
    background-color: whitesmoke;
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    width: 60px;
    height: 60px;
}

#returnTop:hover {
    transform: scale(1.10);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
/* END back to top */

/* START footer */
footer {
    background: rgba(83, 81, 81);
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 90px;
    display: flex;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

.socialNetwork {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.socialNetworkLogo {
    width: 60px;
    height: 60px;
}

.socialNetworkLogo:hover {
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;
}

.footerLeft {
    width: 30%;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
}

.footerLeft h2 {
    color: var(--primary-color);
    font-size: 25px;
}

.footerRight {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 10%;
    margin-top: 20px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.footerLinks a {
    font-size: larger;
    font-weight: bold;
}

.footerLinks a:hover {
    color: var(--primary-color);
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;
}

.info p {
    font-size: 20px;
    font-style: normal;  
}
/* END footer */