.h2housing {
    text-align: center;
    padding-top: 7rem;
}

.hrTitleHousing {
    padding-bottom: 2rem;
}

h3 {
    text-align: center;
}

.theyTrustUs {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.theyTrustUs img {
    width: 28rem;
}

.businessTripsWithTitle {
    background-color: lightgray;
    padding: 2rem 0rem;
}

.theyTrustUs div {
    margin: 1rem;
}

.businessTrips {
    margin: 2rem;
}

.businessTrips img {
    width: 40rem;
}

.businessTrips {
    display: flex;
    flex-direction: row;
}

.businessTrips p {
    margin-left: 1rem;
}


