/* General */

.h2housing {
    text-align: center;
    padding-top: 7vw;
}

.hrTitleHousing {
    padding-bottom: 2vw;
}

h3 {
    text-align: center;
}


/* They Trust Us */

.theyTrustUs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.theyTrustUs img {
    width: 31vw;
}

.theyTrustUs div {
    margin: 1vw;
}


/* Business Trips */

.businessTripsWithTitle {
    background-color: lightgray;
    padding: 2vw 0;
}

.businessTrips {
    margin: 1vw;
}

.businessTrips img {
    width: 40vw;
}

.businessTrips {
    display: flex;
    flex-direction: row;
}

.businessTrips p {
    margin-left: 1vw;
}


/* Responsive */

@media screen and (max-width: 1000px) {

    .theyTrustUs {
        margin: 1vw;
        display: flex;
        flex-direction: column;
    }

    .theyTrustUs img {
        width: 96vw;
    }

    .theyTrustUs div {
        margin-top: 5vw;
    }


    .businessTrips {
        margin: 2vw;
    }

    .businessTrips img {
        width: 96vw;
    }

    .businessTrips {
        display: flex;
        flex-direction: column;
    }

}



