@import 'variables.css';

/***SECTION HOME___start***/
.home-carousel {
    position: relative;
    width: 80%;
    max-width: 1300px;
    height: 800px;
    overflow: hidden;
    margin: 0 auto;
}

.home-logo {
    position: absolute;
    z-index: 2;
    width: 800px;
    top: 50px;
    left: 50px;
}

.home-text {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    width: 1000px;
    text-align: center;
    font-family: var(--primary-title);
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.home-carousel figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 40s slidy infinite ease-in;
}

.home-carousel figure img {
    width: 25%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }

    28% { left: -100%; }
    53% { left: -100%; }

    61% { left: -200%; }
    87% { left: -200%; }

    95% { left: -300%; }
    100% { left: -300%; }
}
/***SECTION HOME___end***/

/***SECTION PURPOSE AND VALUES___start***/
.purpose-and-values {
    background: url('../images/Indre-et-loire.png') no-repeat right;
    height: 800px;
}

.purpose-and-values div {
    width: 800px;
    line-height: 30px;
    text-align: justify;
}

.container-key-figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-key-figures p {
    font-family: var(--primary-title);
    font-size: 50px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}
.container-key-figures p span {
    font-family: var(--primary-text);
    font-size: 25px;
}
/***SECTION Partenaire***/
.partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.logoPartner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navPartnerVisibile {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, 250px);
    grid-row: auto;
    padding-left: 3em;
    justify-content: center;
}
.navPartnerInvisible {
    display: none;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, 250px);
    grid-row: auto;
    padding-left: 3em;
    justify-content: center;
    align-items: center;
}
.boxVisibility {
    justify-content: end center;
}
.imgPartner {
    width: 100px;
    margin: 10px;
}
.imgPartner:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}
#allPartners {
    width: 25%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

}
/***SECTION PURPOSE AND VALUES___end***/

/***SECTION ACTIVITY___start***/

.activities h2 {
    text-align: center;
    margin: 3rem;
}

.activities {
    display: flex;
    margin: 1rem;
}

.activities img, figcaption {
    display: block;
    margin: auto;
    width: 6rem;
    text-align: center;
}

.activities figure:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}

.pictogrammeConciergerie, .pictogrammeIntendance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.plusdinfos {
    text-align: right;
}

.prendreContact {
    text-align: center;
    font-size: 2rem;
}

.conciergeriePresentation, .intendancePresentation {
    opacity: 0.5;
}

.conciergeriePresentation:hover, .intendancePresentation:hover {
    opacity: 1;
    transition-duration: 1s;
    background-color: white;
}

.textIntendance, .prendreContact, .plusdinfos {
    margin-top: 1rem;
}



/***SECTION ACTIVITY___end***/
