@import 'variables.css';

/***SECTION HOME___start***/
.home-carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.home-carousel div {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home-text {
    margin: 30vh auto 10vh;
    width: 70vw;
    font-family: var(--primary-title);
    font-size: 3.5rem;
    color: var(--white);
    letter-spacing: 0.5rem;
    text-shadow: 5px 5px 20px var(--black);
}

.home-carousel figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 30s slidy infinite ease-in-out;
}

.home-carousel figure img {
    width: 25%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }

    28% { left: -100%; }
    53% { left: -100%; }

    61% { left: -200%; }
    87% { left: -200%; }

    95% { left: -300%; }
    100% { left: -300%; }
}
/***SECTION HOME___end***/

/***ALL SECTIONS EXCEPT HOME___start***/
.section-except-home { 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/***ALL SECTIONS EXCEPT HOME___start***/

/***SECTION VALUES AND PURPOSE___start***/
.purpose,
.values {
    text-align: center;
    padding-top: 20vh;
}

.purpose section,
.values section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.purpose,
.values {
    background-color: var(--secondary-color-tint1);
    color: var(--black);
}

.purpose-text,
.values-text {
    padding: 2vw;
    font-family: var(--primary-text);
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
}

.purpose-text span,
.values-text span {
    font-family: var(--secondary-title);
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 3.5rem;
}

.purpose-picture,
.values-picture {
    padding: 2vw;
}

.purpose-picture img,
.values-picture img {
    height: 60vh;
}

/***SECTION VALUES AND PURPOSE___end***/

/***SECTION KEY-FIGURES___start***/
.key-figures {
    position: relative;
    padding-top: 20vh;
    background-color: var(--white);
}

.key-figures h2 {
    font-family: var(--primary-title);
    font-size: 3rem;
    color: var(--primary-color);
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 10px var(--white);
    text-align: center;
}

#key-figure-1,
#key-figure-2,
#key-figure-3,
#key-figure-4 {
    position: absolute;
    left: -100vw;
    width: 200px;
    font-family: var(--primary-title);
    font-size: 3rem;
    color: var(--white);
    background-color: var(--primary-color);
    text-align: center;
}

#key-figure-11,
#key-figure-21,
#key-figure-31,
#key-figure-41 {
    position: absolute;
    right: -100vw;
    width: 800px;
    font-family: var(--primary-text);
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--black);
}

#key-figure-1,
#key-figure-11 {
    top: 40vh;
}

#key-figure-2,
#key-figure-21 {
    top: 55vh;
}

#key-figure-3,
#key-figure-31 {
    top: 70vh;
}

#key-figure-4,
#key-figure-41 {
    top: 85vh;
}

#key-figure-contact {
    position: absolute;
    right: -100vw;
    top: 85vh;
}

/***SECTION KEY-FIGURES___end***/

/***SECTION SERVICE VISION___start***/
.service-vision {
    position: relative;
    padding-top: 20vh;
}

.service-vision h2 {
    padding: 2vh;
    font-family: var(--primary-title);
    font-size: 3rem;
    color: var(--primary-color);
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 10px var(--white);
    text-align: center;
    background-color: var(--secondary-color-opacity);
}

#service-vision-1,
#service-vision-2,
#service-vision-3,
#service-vision-4 {
    position: absolute;
    left: -100vw;
    font-family: var(--primary-title);
    font-size: 3rem;
    color: var(--white);
    text-shadow: 2px 2px 10px var(--black);
    text-align: center;
    text-transform: uppercase;
}

#service-vision-1 {
    top: 40vh;
}

#service-vision-2 {
    top: 55vh;
}

#service-vision-3 {
    top: 70vh;
}

#service-vision-4 {
    top: 85vh;
}

#service-vision-contact {
    position: absolute;
    right: -100vw;
    top: 85vh;
}
/***SECTION SERVICE VISION___end***/

/***SECTION ACTIVITY___start***/

.activities h2 {
    text-align: center;
    margin: 3rem;
}

.activities a {
    color: black;
}

.activities {
    display: flex;
    margin: 1rem;
}

.activities img, figcaption {
    display: block;
    margin: auto;
    width: 4rem;
    text-align: center;
}

.activities figure:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}

.pictogramConcierge, .pictogramStewardship{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.moreInfos {
    text-align: right;
}

.takeContact {
    text-align: center;
    font-size: 2rem;
}

.conciergePresentation, .stewardshipPresentation {
    opacity: 0.5;
}

.conciergePresentation:hover, .stewardshipPresentation:hover {
    opacity: 1;
    transition-duration: 1s;
    background-color: white;
}

.textIntendance, .takeContact, .moreInfos {
    margin-top: 1rem;
}

/***SECTION ACTIVITY___end***/

/***SECTION PARTNERS___start***/
.partners {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-color: var(--primary-color);
}

.partners h2 {
    font-family: var(--primary-title);
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 0.5rem;
    text-align: center;
}

.partners-hr {
    display: block;
    border: 0;
    border-top: 1vh solid var(--white);
    width: 20vw;
    margin: 2vw auto;
}

.partners-booking,
.partners-others {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.partners-booking-all,
.partners-others-all {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.partners nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    padding: 0.5vw;
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--white);
    transition: all 0.3s;
}

.partners nav a:hover {
    transform: scale(1.3);
    box-shadow: 5px 5px 20px var(--black);
}

.partners nav a img {
    width: 100%;
}

#partners-booking-all-button,
#partners-others-all-button {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    border: solid 1rem var(--primary-color);
    font-family: var(--primary-text);
    font-size: 2rem;
    text-align: center;
    border: none;
}

#partners-booking-all-button:hover,
#partners-others-all-button:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 20px var(--black);
}
/***SECTION PARTNERS___end***/
