@import 'variables.css';

body {
    background-color: var(--white);
}

h3 {
    font-family: var(--primary-title);
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 2px;
    padding: 10px;
    font-family: var(--primary-text);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

input,
textarea,
button {
    margin: 2px 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: var(--primary-text);
    font-size: 20px;
}

input[type="text"],
textarea {
    text-align: center;
    background-color: rgb(225, 225, 255);
}

textarea {
    resize: none;
    height: 300px;
}

input[type="file"] {
    text-align: center;
}

input[type="button"],
button {
    width: 200px;
}

input[type="button"] {
    background-color: red;
    color: white;
    font-weight: bold;
}

button {
    background-color: green;
    color: white;
    font-weight: bold;
}

li {
    font-size: 20px;
    color: red;
    font-family: var(--secondary-text);
    font-style: italic;
}

@media screen and (min-width: 813px) {
    form {
        width: 50vw;
    }
}

.error-upload-photo {
    padding: 10px 30px;
    font-family: var(--secondary-title);
    font-size: 20px;
    color: red;
    border-radius: 5px;
    border: solid 2px red;
}
