/* START picture and picto with explication of Stewardship */
.generalInfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.right {
    width: 50%;
}

.imgFull {
    position: relative;
    height: 30vh;
}

.right img {
    width: 100%;
    height: 40rem;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.stewardDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

.stewardDetails img {
    width: 20%;
}

.stewardDetails img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    cursor: pointer;
}

.green {
    color: var(--quaternary-color);
    font-weight: bold;
    font-family: var(--secondary-title);
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.left p {
    padding-bottom: 15px;
}

.textPicto {
    position:absolute;
    top:40%;
    width:45%;
    height:auto;
    padding: 5px 5px 5px 5px;
    z-index:2;
    font-size:150%;
    margin-left: 2.5%;
    font-weight: bold;
    border-radius: 20%;
    visibility: hidden;
    text-shadow: -1px 0 #59ace365, 0 2px #59ace365, 2px 0 #59ace365, 0 -2px #59ace365;
}

/* END picture and picto with explication of Stewardship */

/* START button which send to contact form */
.contactButton {
    background-color: var(--primary-color-tint1);
    color: whitesmoke;
    font-family: var(--primary-text);
    font-weight: bold;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.contactButton:hover {
    cursor: pointer;
    border-color: var(--primary-color-tint1);
    background-color: whitesmoke;
    color: var(--primary-color-tint1);
}
/* END button which send to contact form */

/*** Section Tariff / Taxation ***/
.stewardTariffTaxation {
    display: flex;
    background-color: var(--white);
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.taxationStewardPart,
.tariffStewardPart {
    width: 40%;
    justify-content: center;
    text-align: center;
}

.subTittle {
    margin-bottom: 1em;
}

.textTaxationTariff {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.imgTaxationTariff {
    width: 80%;
}

@media screen and (max-width: 813px) {
    .stewardTariffTaxation {
        flex-direction: column;
    }
    
    .taxationStewardPart,
    .tariffStewardPart {
        width: 100%;
        margin: auto;
    }

    .tariffStewardPart {
        background-color: lightgray;
    }
}
/*** End Section Tariff / Taxation ***/