/* START picture and picto with explication of Stewardship */
.headerStewardship {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.generalInfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.listPresentationPart {
    font-size: 120%;
    width: 80%;
    padding-top: 1.5em;
    padding-bottom: 2em;
    text-align: center;
    margin: auto;
    list-style-type: none;
    line-height: 1.3;
}

.right {
    width: 50%;
}
.imgBackground {
    max-width: 100%;
    height: 90vh;
    background-image: url('/assets/images/concierge/welcomingImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 0.75em;
}

.stewardDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

.stewardDetails img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    cursor: pointer;
}

.green {
    color: var(--quaternary-color);
    font-weight: bold;
    font-family: var(--secondary-title);
}

.servicePicto {
    height: 10vh;
    width: 10vh;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.left p {
    padding-bottom: 15px;
}

.textPicto {
    position:absolute;
    text-align: center;
    margin-top: 1.5em;
    width:45%;
    height:auto;
    padding: 5px 5px 5px 5px;
    z-index:2;
    font-size:120%;
    font-weight: bold;
    visibility: hidden;
    text-shadow: -1px 0 #59ace365, 0 2px #59ace365, 2px 0 #59ace365, 0 -2px #59ace365;
}

.linkQuote {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 813px) {
    .listPresentationPart {
        width: 95%;
    }
    .left {
        width: 90%;
        margin: auto;
        padding-top: 0.5em;
    }

    .right {
        width: 100%;
    }

    .textPicto {
        width: 90%;
        margin: auto;
        padding-left: 1em;
    }
}

/* END picture and picto with explication of Stewardship */

/* START button which send to contact form */
.contactButton {
    background-color: var(--primary-color-tint1);
    color: whitesmoke;
    font-family: var(--primary-text);
    font-weight: bold;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.contactButton:hover {
    cursor: pointer;
    border-color: var(--primary-color-tint1);
    background-color: whitesmoke;
    color: var(--primary-color-tint1);
}
/* END button which send to contact form */

/*** Section Tariff / Taxation ***/
.stewardTariffTaxation {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    justify-content: center;
}

.taxationStewardPart,
.tariffStewardPart {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
}

.tariffStewardPart {
    background-color: lightgray;
}

.subTittle {
    margin-bottom: 1em;
}

.textTaxationTariff {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gridTariffSteward {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-bottom: 1.5em;
}
.blocTariff {
    background-color: white;
    box-shadow: 0 2px 4px 0 var(--quaternary-color), 0 3px 8px 0 var(--quaternary-color);
    padding-top: 1.25em;
    padding-bottom: 1.75em;
    padding-right: 1em;
    padding-left: 1em;
}
.tariffOne {
    grid-column: 1/2;
    grid-row: 1;
}
.tariffTwo {
    grid-column: 2/3;
    grid-row: 1;
}
.tariffThree {
    grid-column: 3/4;
    grid-row: 1;
}
.tariffFour {
    grid-column: 1/2;
    grid-row: 2;
}
.tariffFive {
    grid-template: 2/3;
    grid-row: 2;
}
.tariffSix {
    grid-template: 3/4;
    grid-row: 2;
}
.tariffSeven {
    grid-template: 1/2;
    grid-row: 3;
}
.tariffHeight {
    grid-template: 2/3;
    grid-row: 3;
}
.tariffNine {
    grid-template: 3/4;
    grid-row: 3;
}

.textBold {
    font-weight: bold;
    padding-bottom: 0.5em;
}

.textEndTariffSection {
    font-size: 110%;
    line-height: 1.6;
}

/* taxation Part */

.gridTaxationPart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-bottom: 1.5em;
    width: 90%;
    margin: auto;
}
.taxationElementOne {
    grid-column: 1/2;
    grid-row: 1;
}
.taxationElementTwo {
    grid-column: 2/3;
    grid-row: 1;
}
.taxationElementThree {
    grid-column: 1/2;
    grid-row: 2;
}
.taxationElementFour {
    grid-column: 2/3;
    grid-row: 2;
}
.taxationElementFive {
    grid-column: 1/2;
    grid-row: 3;
}
.taxationElementSix {
    grid-column: 2/3;
    grid-row: 3;
}
.taxationElementSeven {
    width: 40%;
    margin: auto;
}

.needSpaceBelow {
    padding-bottom: 0.75em;
}

.ListNostyleTaxationPart {
    list-style: none;
    text-align: left;
    line-height: 1.5;
    padding-top: 1.5em;
    padding-left: 1.75em;
}

.sourceStyle {
    margin: auto;
}

@media screen and (max-width: 813px) {
    .stewardTariffTaxation {
        padding-top: 0em;
    }
    .stewardTariffTaxation {
        flex-direction: column;
    }
    
    .taxationStewardPart,
    .tariffStewardPart {
        width: 100%;
        margin: auto;
    }

    .gridTariffSteward {
        grid-template-columns: 1fr;
    }
    .tariffOne {
        grid-column: 1/2;
        grid-row: 1;
    }
    .tariffTwo {
        grid-column: 1/2;
        grid-row: 2;
    }
    .tariffThree {
        grid-column: 1/2;
        grid-row: 3;
    }
    .tariffFour {
        grid-column: 1/2;
        grid-row: 4;
    }
    .tariffFive {
        grid-column: 1/2;
        grid-row: 5;
    }
    .tariffSix {
        grid-column: 1/2;
        grid-row: 6;
    }
    .tariffSeven {
        grid-template: 1/2;
        grid-row: 7;
    }
    .tariffHeight {
        grid-column: 1/2;
        grid-row: 8;
    }
    .tariffNine {
        grid-column: 1/2;
        grid-row: 9;
    }

    .textEndTariffSection {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    
    .gridTaxationPart {
        grid-template-columns: 1fr;
    }
    .taxationElementOne {
        grid-column: 1/2;
        grid-row: 1;
    }
    .taxationElementTwo {
        grid-column: 1/2;
        grid-row: 2;
    }
    .taxationElementThree {
        grid-column: 1/2;
        grid-row: 3;
    }
    .taxationElementFour {
        grid-column: 1/2;
        grid-row: 4;
    }
    .taxationElementFive {
        grid-column: 1/2;
        grid-row: 5;
    }
    .taxationElementSix {
        grid-column: 1/2;
        grid-row: 6;
    }
    .taxationElementSeven {
        width: 80%;
        margin: auto;
    }

    .sourceStyle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
/*** End Section Tariff / Taxation ***/