:root {
    --primary-color: #6e20a0;
    --primary-color-tint1: #7f3ca9;
    --primary-color-tint2: #9c61c1;
    --secondary-color: #988f86;
    --tertiary-color: #59abe3;
    --quaternary-color: #26c281;
    --white: #fffafa;
    --black: #020202;
    --primary-title: 'Montserrat-Bold', sans-serif;
    --secondary-title: 'Montserrat-SemiBold', sans-serif;
    --primary-text: 'Montserrat-Regular', sans-serif;
    --secondary-text: 'Montserrat-Light', sans-serif;
    --tertiary-text: 'Montserrat-ExtraLight', sans-serif;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/Montserrat-ExtraLight.otf');
}