<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/assets/images/WeWELCOME-Icon-1-24x24px.png" />
    <title>{% block title %}WeWelcome{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/baseStyle.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <section class="navBar">
        <a id="topLogo" href="{{ path('home') }}">
            <img src="/assets/images/wewelcome_logo_top.png" alt="wewelcomeLogo">
        </a>
        <nav>
            <a class="navLink" href="">Concierge</a>
            <a class="navLink" href="">Intendance</a>
            <a class="navLink" href="">Logement</a>
            <a class="navLink" href="#contact">Contact</a>
            <a class="navLink" href="">English</a>
        </nav>
    </section>
    {% block body %}
    {% endblock %}
    <footer>
        <button id="returnTop">Top</button>
        <div class="socialNetwork">
            <a href="">
                <img class="socialNetworkLogo" src="/assets/images/instagram_icon.png" alt="Logo Instagram">
            </a>
            <a href="https://www.facebook.com/wewelcome.fr">
                <img class="socialNetworkLogo" src="/assets/images/facebook_icon.png" alt="Logo Facebook">
            </a>
            <a href="https://www.linkedin.com/in/alexandre-delalandes/?originalSubdomain=fr">
                <img class="socialNetworkLogo" src="/assets/images/linkedin_icon.png" alt="Logo LinkdIn">
            </a>
        </div>
        <div class="footerLeft">
            <h2>Coordonnées</h2>
            <address class="info">
                <p>Mr Alexandre DELALANDES</p>
                <p>Tel. : <a href="tel:">06 00 00 00 00</a></p>
                <p>Adresse : xx rue du test, 37000 Tours</p>
            </address>
        </div>
        <div class="footerRight">            
            <nav class="footerLinks">
                <a href="">Plan du site</a>
                <a href="">Mentions légales</a>
                <a href="">CGU</a>
                <a href="">Travailler avec moi</a>
            </nav>
        </div>
    </footer>
    <script src="/assets/js/base.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
