<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/logo-wewelcome-24px-color.png" />
    <title>{% block title %}Formulaire{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/formAdmin.css">
    <link rel="stylesheet" href="/assets/styles/formOutIndex.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="formAdmin">
    <header>
        <img src="/assets/images/logo-wewelcome-white.png" alt="wewelcomeLogo">
        <h1>{% block titleForm %}{% endblock %}</h1>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
</body>
</html>
