{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/asset/styles/stewardship.css">
{% endblock %}

{% block title %}WeWelcome{% endblock %}

{% block body %}

<!--Formulaire de contact-->
<section class="contact">
    {% include 'home/_contact.html.twig' %}
</section>
{% endblock %}

{% block script %}
{% endblock %}